
<div class="mt-3">
  <h2 class="" style="text-align: center; color: #616160; font-family: Gobold;font-size: 20px;" >
    Xubastas EXPRESS
  </h2></div>
  <div class="barra-subastas">
    <!-- Flecha izquierda -->
    <div
      class="flecha-izquierda"
      *ngIf="mostrarFlechaIzquierda"
      (click)="scrollIzquierda(contenedorRef.nativeElement)"
    >
      <
    </div>
  
    <!-- Contenedor de subastas -->
    <div class="contenedor-items" 
    #contenedor (scroll)="verificarScroll(contenedorRef.nativeElement)">
      <div class="subasta-item" *ngFor="let subasta of xpress" 
      [ngClass]="{ 'fade-out': subasta.vencida }" 
      (click)="abrirModal(subasta)" >
        <img [src]="subasta.url" alt="Producto" />
        <div class="hora">{{ subasta.tiempoVence }}</div>
      </div>
    </div>
  
    <!-- Flecha derecha -->
    <div
      class="flecha-derecha"
      *ngIf="mostrarFlechaDerecha"
      (click)="scrollDerecha(contenedorRef.nativeElement)"
    >
      >
    </div>
  </div>