.barra-subastas {
  display: flex;
  align-items: center;
  padding: 0.1rem;
  overflow: hidden;
  position: relative;
  border-bottom: 3px solid #D4367A; 
}

.contenedor-items {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.contenedor-items::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.subasta-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
  flex-shrink: 0;
}

.subasta-item:hover{
  cursor: pointer;
}

.subasta-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.s-gen img{
  border: 4px solid #fa8231;
}

.s-premium img{
  width: 60px;
  height: 60px;
  border: 5px solid #eccc68;
}
.s-premium .hora{
  font-size: 0.7rem;
  margin-top: 4px;
  background: linear-gradient(
  135deg,
  #f7d774 0%,
  #f2c94c 20%,
  #e0b041 40%,
  #f7d774 60%,
  #d1a037 80%,
  #f2c94c 100%
);
  padding: 2px 6px;
  border-radius: 10px;
  color: black;
}
.s-gen .hora {
  font-size: 0.7rem;
  margin-top: 4px;
  background: #fa8231;
  padding: 2px 6px;
  border-radius: 10px;
  color: #fff;
}

.apuesta{
  font-size: 0.7rem;
}

.flecha-izquierda{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #D4367A;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  user-select: none;
  flex-shrink: 0;
}

.flecha-derecha {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #28AAE2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  user-select: none;
  flex-shrink: 0;
}

.disabled-a{
  opacity: 0.5;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}





/* ================ */
/* ================== */

.stories-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.stories-container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 40px;
  scrollbar-width: none;
}

.stories-container::-webkit-scrollbar {
  display: none;
}

.story-item {
  flex: 0 0 auto;
  width: 90px;
  text-align: center;
  font-family: sans-serif;
}

.story-circle {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  padding: 3px;
  background: linear-gradient(45deg, #ff0057, #ffb300);
  margin: 0 auto;
}

.story-circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background: #fff;
}

.story-time {
  font-size: 12px;
  color: #666;
  margin-top: 6px;
}

.story-price {
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

/* Flechas */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.nav-btn.left {
  left: 5px;
}

.nav-btn.right {
  right: 5px;
}
