<div class="submenu">
  <div class="submenu-item" (click)="recargarPagina()" style="cursor: pointer;" >
    <img src="home.png" alt="Inicio"  />
    <span>Inicio</span>
  </div>
    <div class="submenu-item">
      <img src="seguidos.png" alt="Seguidos" />
      <span>Seguidos</span>
    </div>
    <div class="submenu-item">
      <img src="ganadas.png" alt="Ganadas" />
      <span>Xubastas Ganadas</span>
    </div>
    <div class="submenu-item">
      <img src="crear.png" alt="Crear" />
      <span>Crear Subasta</span>
    </div>
  
    <div class="submenu-item" (click)="onClickNotificaciones()" >
        <img src="notificaciones.png" alt="Notificaciones" />
        <span>Notificaciones</span>
      </div>
   
    <div class="submenu-item">
        <img src="seguidores.png" alt="Seguidores" />
        <span>Seguidores</span>
      </div>
  </div>
