:host {
  display: flex;
  position: sticky;
  justify-content: center; /* Centra el submenu horizontalmente */
  top: 70px;
  z-index: 999;
  width: 100%;
}
.submenu {
       
    width: 40%; /* Ocupa un tercio */
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  .submenu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .submenu-item:hover {
    transform: scale(1.1);
  }
  
  .submenu-item img {
    height: 30px;
    margin-bottom: 4px;
  }
  
  .submenu-item span {
    font-size: 10px;
    color: #333;
  }