.mid-search{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.mid-search::placeholder{
    color: #a4b0be;
    font-weight: 100 !important;
    /* font-size: 0.8em; */
}

.mid-b-search{
    border-left: none;
    border-top-left-radius:0px;
    border-bottom-left-radius: 0px;
}
.descripcion-result{
    font-family: 'calibri';
    font-weight: lighter;
    font-size: 0.5em;
}

.item-price{
    font-size: 1.5em;
    color: #3742fa;
}

.item-time{
    font-size: 1.5em;
}

.bg-result{
    background: #dfe4ea;
}

.item:hover{
    cursor: pointer;
}