<div class="won-list">
    <div class="won-row" *ngFor="let item of listaData" (click)="goToSubasta(item.idSubasta)">
        <div class="won-icon">
            <img [src]="item.url" style="border-radius:8px;" alt="">
            <!-- <i class="fas fa-trophy"></i> -->
        </div>
        <div class="won-info">
            <div class="won-title">{{item.caption}}</div>
            <div class="won-desc">Termina en {{item.tiempoVence}}</div>
            <div class="price-auction ">{{toCurrency(item.apuesta)}}</div>
        </div>
        <div class="won-status pending">{{item.desStatus}}</div>
    </div>
</div>