<div class="profile-container fast-animation animate__animated animate__fadeInRight">
    <app-loader *ngIf="allLoading"></app-loader>

    <!-- Panel izquierdo -->
    <div class="profile-sidebar d-none d-sm-flex" style="position: relative;">
        <app-loader *ngIf="loading"></app-loader>

        <div class="w-100 bg-xuba2 text-center pt-5 pb-4">

            <div class="profile-avatar">
                <img [src]="imageProfileSrc || 'assets/default-avatar.png'" alt="Foto de usuario">
            </div>

            <h4 class="fw-bold mt-3 mb-2 fs1">
                {{infoUsuario?.nombre}}
            </h4>

            <h5 class="user-calificacion">
                <span class="text-dark">
                    [{{infoUsuario?.usuario ?? 'ND'}}]
                </span>

                &nbsp;

                <i class="fas fa-star"></i>

                <span style="color:#bdc3c7;">
                    {{infoUsuario?.calificacion}}
                </span>
            </h5>

            <!-- Botón Seguir -->
            <button class="btn-follow mt-3" (click)="toggleSeguir()">

                <i class="fas fa-user-plus"></i>

                {{ infoUsuario?.siguiendo ? 'Siguiendo' : 'Segir' }}
            </button>

        </div>



        <div class="profile-card">
            <div class="pc-stat">
                <div class="pc-label">
                    {{infoUsuario?.antiguedad}}
                </div>
            </div>

            <hr class="pc-divider">

            <!-- Ubicación -->
            <div class="pc-row location-row">
                <div class="pc-icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>

                <div class="pc-location">
                    <div class="pc-location-label">Desde</div>
                    <div class="pc-location-city">{{infoUsuario?.municipio}}, {{infoUsuario?.estado}}</div>
                    <div class="pc-location-country">México</div>
                </div>
            </div>
            <hr class="pc-divider">



            <hr class="pc-divider">

            <!-- Estadísticas -->
            <div class="pc-metrics">

                <div class="pc-stat">
                    <i class="far fa-star pc-stat-icon"></i>
                    <div class="pc-value">
                        {{infoUsuario?.subastasCreadas}}
                    </div>
                    <div class="pc-label">
                        Subastas<br>creadas
                    </div>
                </div>

                <div class="pc-stat">
                    <i class="far fa-calendar-check pc-stat-icon"></i>
                    <div class="pc-value">
                        {{infoUsuario?.subastasConcretadas}}
                    </div>
                    <div class="pc-label">
                        Ventas<br>exitosas
                    </div>
                </div>

                <div class="pc-stat">
                    <i class="fas fa-users pc-stat-icon"></i>
                    <div class="pc-value">
                        {{infoUsuario?.seguidores}}
                    </div>
                    <div class="pc-label">
                        Seguidores
                    </div>
                </div>

            </div>


        </div>

        <!-- <button class="btn btn-sm btn-light btn-circle" style="position: absolute;right: 28%"><i class="fas fa-camera"></i></button> -->

        <!-- <label class="btn btn-sm btn-light btn-circle pt-2" style="position: absolute;right: 28%">
          <input type="file" accept="image/*"  (change)="onFileChange($event)" hidden />
          <i class="fas fa-camera"></i>
        </label> -->


        <!-- <button class="btn-edit-photo"><i class="fas fa-file-image"></i> Cambiar foto</button> -->
        <!-- <button *ngIf="updatingImage" class="btn-edit-photo" (click)="editImgPerfil()"><i class="fas fa-upload"></i> Guardar cambio</button> -->
    </div>

    <div class="row d-block d-sm-none">
        <div class="w-100 bg-xuba2 text-center pt-5 pb-2">
            <div class="profile-avatar">
                <img [src]="imageProfileSrc || 'assets/default-avatar.png'" alt="Foto de usuario">
            </div>
            <h4 class="fw-bold mt-3 mb-2 fs1">{{infoUsuario?.nombre}}</h4>
            <h5 class="user-calificacion"><span class="text-dark">[{{infoUsuario?.usuario ?? 'ND'}}]</span> &nbsp; <i
                    class="fas fa-star"></i> <span style="color: #bdc3c7;">{{infoUsuario?.calificacion}}</span></h5>
            <!-- <div class=" mb-4" style="color:#48dbfb;">{{infoUsuario.correo}}</div> -->
            <button class="btn-follow mt-3" (click)="toggleSeguir()">

                <i class="fas fa-user-plus"></i>

                {{ infoUsuario?.siguiendo ? 'Siguiendo' : 'Seguir' }}
            </button>
        </div>
        <div class="pc-info">
            <div class="pc-stat">
                <div class="pc-value">
                </div>
                <div class="pc-label">
                    {{infoUsuario?.antiguedad}}
                </div>
            </div>

            <div class="pc-row f-arial py-0 my-0 ps-3 pe-3">
                <i class="fas fa-map-pin"></i>
                <div class="pc-info-content">
                    <span class="pc-info-label">Ubicacion</span>
                    <span class="pc-info-value">{{infoUsuario?.municipio}}, {{infoUsuario?.estado}}</span>
                </div>
            </div>
        </div>
        <div class="pc-metrics">
            <div class="pc-metric">
                <div class="pc-value">{{infoUsuario?.subastasCreadas}}</div>
                <div class="pc-label">Subastas creadas</div>
            </div>
            <div class="pc-metric">
                <div class="pc-value">{{infoUsuario?.subastasConcretadas}}</div>
                <div class="pc-label">Ventas exitosas</div>
            </div>

            <div class="pc-metric pc-metric-wide">
                <div class="pc-value">{{infoUsuario?.seguidores}}</div>
                <div class="pc-label">Seguidores</div>
            </div>
        </div>
    </div>
    <!-- Panel derecho: Información editable -->
    <div class="profile-main">
        <!-- <div class="w-100">
          <button class="btn-tab w-25" (click)="setCurrentTab(0)" [ngClass]="{'active': tabIndex === 0}">Subastas activas</button>
          <button class="btn-tab" (click)="setCurrentTab(1)" [ngClass]="{'active': tabIndex === 1}">Mis Xubastas</button>
          <button class="btn-tab" (click)="setCurrentTab(3)" [ngClass]="{'active': tabIndex === 3}">Cuentas y Wallet</button>
          <button class="btn-tab" (click)="setCurrentTab(2)" [ngClass]="{'active': tabIndex === 2}">Estadisticas</button>
        </div> -->
        <!-- Datos personales -->
        <div class="auction-summary">

            <div class="auction-summary-icon">
                <i class="fas fa-shopping-bag"></i>
            </div>

            <div class="auction-summary-info">
                <h4>
                    {{infoUsuario?.nombre}} tiene
                    <span>{{subastasActivas.length}}</span>
                    subastas activas
                </h4>
            </div>

        </div>


        <!-- Direcciones -->
        <div class="profile-card">


            <h3 class="fs1 mb-3">Subastas activas</h3>

            <div class="table-cont-scroll">

                <table class="auction-table d-none d-sm-table">

                    <thead>
                        <tr class="table-header">
                            <th class="w-10">Img</th>
                            <th class="w-20">Título</th>
                            <th class="w-30">Descripción</th>
                            <th class="w-15">Precio</th>
                            <th class="w-15">Tiempo</th>
                            <th class="w-10 text-center">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr class="auction-row" [class.premium-auction]="subasta.premium"
                            *ngFor="let subasta of subastasActivas | paginate:{ itemsPerPage: pageSize, currentPage: page }">

                            <td>
                                <img [src]="subasta.url" (error)="onImgError($event)" class="img-auct"
                                    alt="Auction Image">
                            </td>

                            <td class="td-caption">
                                {{subasta.caption}} #{{subasta.id}}
                            </td>

                            <td class="td-desc">
                                {{subasta.short_desc}}
                            </td>

                            <td class="price">
                                {{subasta.apuesta | currency:'MXN'}}
                            </td>

                            <td class="time">
                                {{segundosATiempoString(subasta.venceSegundos!)}}
                            </td>

                            <td class="text-center">

                                <button class="btn-offer"
                                    (click)="openSubastaDetalle(subasta.id); $event.stopPropagation()">

                                    <i class="fas fa-gavel"></i>

                                </button>

                            </td>

                        </tr>

                    </tbody>

                </table>

            </div>

            <!-- Móvil -->

            <div class="w-100 d-block d-sm-none">

                <div class="mobile-card" [class.premium-auction]="subasta.premium"
                    *ngFor="let subasta of subastasActivas | paginate:{ itemsPerPage: pageSize, currentPage: page }">

                    <img [src]="subasta.url" (error)="onImgError($event)" class="img-auct mb-3">

                    <h5>{{subasta.caption}} #{{subasta.id}}</h5>

                    <p>{{subasta.short_desc}}</p>

                    <div class="d-flex justify-content-between mt-2">
                        <strong>{{subasta.apuesta | currency:'MXN'}}</strong>
                        <span>{{segundosATiempoString(subasta.venceSegundos!)}}</span>
                    </div>

                    <button class="btn-offer w-100 mt-3" (click)="openSubastaDetalle(subasta.id)">

                        Ver detalles
                        <i class="fas fa-gavel ms-2"></i>

                    </button>

                    <div class="line-divider mt-3"></div>

                </div>

            </div>

        </div>
        <pagination-controls (pageChange)="page = $event" previousLabel="Ant." nextLabel="Sig.">
        </pagination-controls>
        <!-- Reclamos abiertos -->

    </div>
</div>