<div class="profile-container  fast-animation  animate__animated animate__fadeInRight">
    <app-loader *ngIf="allLoading"></app-loader>
      <!-- Panel izquierdo: Foto y datos básicos -->
      <div class="profile-sidebar" style="position: relative;">
        <app-loader *ngIf="loading"></app-loader>
        <div class="w-100 bg-xuba2 text-center pt-5">
            <div class="profile-avatar" > 
                <img [src]="imageProfileSrc || 'assets/default-avatar.png'" alt="Foto de usuario">
            </div>
            <h4 class="fw-bold mt-3 mb-2 fs1">{{infoUsuario.nombre}} {{infoUsuario.apellido}}</h4>
            <h5 class="user-calificacion"><span class="text-dark">[{{infoUsuario.usuario ?? 'ND'}}]</span> &nbsp; <i class="fas fa-star"></i> <span style="color: #bdc3c7;">{{infoUsuario.stars}}</span></h5>
            <div class=" mb-4" style="color:#48dbfb;">{{infoUsuario.correo}}</div>
        </div>
      

        <div class="profile-card">
         
            <div class="pc-info">
                <div class="pc-row">
                    <i class="fas fa-map-pin"></i>
                    <div class="pc-info-content">
                    <span class="pc-info-label">Ubicacion</span>
                    <span class="pc-info-value">Ciudad Juarez, Chih</span>
                    </div>
                </div>
            </div>
            <div class="pc-metrics">
            <div class="pc-metric">
                <div class="pc-value">125</div>
                <div class="pc-label">Subastas</div>
            </div>
            <div class="pc-metric">
                <div class="pc-value">350</div>
                <div class="pc-label">En favoritos</div>
            </div>
            <div class="pc-metric pc-metric-wide">
                <div class="pc-value">95</div>
                <div class="pc-label">Subastas Participadas</div>
            </div>
            <div class="pc-metric pc-metric-wide">
                <div class="pc-value">70</div>
                <div class="pc-label">Subastas ganadas</div>
            </div>
            </div>
       
        </div>
        <!-- <button class="btn btn-sm btn-light btn-circle" style="position: absolute;right: 28%"><i class="fas fa-camera"></i></button> -->
        
        <!-- <label class="btn btn-sm btn-light btn-circle pt-2" style="position: absolute;right: 28%">
          <input type="file" accept="image/*"  (change)="onFileChange($event)" hidden />
          <i class="fas fa-camera"></i>
        </label> -->
  
       
        <!-- <button class="btn-edit-photo"><i class="fas fa-file-image"></i> Cambiar foto</button> -->
        <!-- <button *ngIf="updatingImage" class="btn-edit-photo" (click)="editImgPerfil()"><i class="fas fa-upload"></i> Guardar cambio</button> -->
      </div>
    
      <!-- Panel derecho: Información editable -->
      <div class="profile-main">
        <!-- <div class="w-100">
          <button class="btn-tab w-25" (click)="setCurrentTab(0)" [ngClass]="{'active': tabIndex === 0}">Subastas activas</button>
          <button class="btn-tab" (click)="setCurrentTab(1)" [ngClass]="{'active': tabIndex === 1}">Mis Xubastas</button>
          <button class="btn-tab" (click)="setCurrentTab(3)" [ngClass]="{'active': tabIndex === 3}">Cuentas y Wallet</button>
          <button class="btn-tab" (click)="setCurrentTab(2)" [ngClass]="{'active': tabIndex === 2}">Estadisticas</button>
        </div> -->
        <!-- Datos personales -->
        <ng-container *ngIf="tabIndex === 0">
        
      
          <!-- Direcciones -->
          <div class="profile-card">
            <h3 class="fs1">Subastas activas</h3>
            <table class="table table-striped w-100 text-center">

                  <tr class="t-header bg-dark text-white">
                    <th>Img</th>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Tiempo</th>
                  </tr>
                  <tr class="w-100 row-selectable" *ngFor="let subasta of subastasActivas | paginate: { itemsPerPage: pageSize, currentPage: page }" (click)="openSubastaDetalle(subasta)">
                    <td class="w-20" style="width:100px">
                      <img [src]="subasta.url" (error)="onImgError($event)"  class="d-block img-fluid img-auct" alt="Auction Image">
                    </td>
                    <td class="w-20 td-caption">{{subasta.caption}}#{{subasta.id}}</td>
                    <td class="w-20 td-desc">{{subasta.short_desc}}</td>
                    <td class="w-20">${{subasta.apuesta}}</td>
                    <td class="w-20">{{segundosATiempoString(subasta.venceSegundos!)}}</td>
                  </tr>
                
              
              </table>
  
            <!-- <ul class="address-list">
              <li *ngFor="let d of direcciones">
                {{d.calle}} #{{d.numeroExt}}, {{d.municipio}}  <span [ngClass]="{'label-tdent': d.tipo === 'entrega', 'label-tdenv': d.tipo === 'envio'}">{{d.tipo}}</span>
                <span>
                  <button class="btn-link">Editar</button>
                  <button class="btn-link">Eliminar</button>
                </span>
              </li>
            </ul> -->
            <!-- <button class="btn-secondary" (click)="openModal('direccion')">Agregar nueva dirección</button> -->
          </div>
          <pagination-controls
          (pageChange)="page = $event"
          previousLabel="Ant."
          nextLabel="Sig."
          
        >
        </pagination-controls>
          <!-- Reclamos abiertos -->
        
        </ng-container>
    
      </div>
    </div>