<div class="row m-auto bg-light main-container-h">
  <aside class="col-lg-2 bg-clouds" style="height: 100%; ">
    <!-- ... -->
     <h4 class="text-center mt-3 text-caption" style="font-size: 1rem;">XUBASTAS PREMIUM</h4>
    <div style="height: 90%; overflow-y: scroll; margin-top: 6%;">
      <div class=" mb-4 mt-2 auction-card border-gold text-gold" style="background: #1e272e !important;"  *ngFor="let subasta of listaPremium">
        <img [src]="subasta.url" alt="">
          <!-- <div class="title">{{ subasta.caption }}</div> -->
          <!-- <div class="desc">{{ toShort(subasta.descripcion)  }}</div> -->
          <div class="price">${{ subasta.apuesta }} MXN</div>
          <div class="timer">{{segundosATiempoString(subasta.venceSegundos!)}}</div>
          <hr>
          <div class="actions">
            <button title="Seguir" (click)="toggleSingleSeguida(subasta.id, $event)"><i class="fas fa-heart" [ngClass]="{'nofollowed-i': !isSingleSeguida(subasta.id),'followed-i': isSingleSeguida(subasta.id)}"></i></button>
            <!-- <button title="Ofertar"><i class="fas fa-gavel"></i></button>
            <button title="Compartir"><i class="fas fa-share"></i></button> -->
          </div>
          <div class="ribbon-label" [ngClass]="{'ribbon-label-nuevo': subasta.nuevo, 'ribbon-label-usado':  !subasta.nuevo}">
            {{ subasta.nuevo ? 'Nuevo' : 'Usado' }}
          </div>
      </div> 
    </div>
  </aside>
  <div [class]="'col-lg-8 ps-0 fast-animation animate__animated ' + classAnimate.imageContainer"  style="position: relative;height: 100%;overflow: hidden;">      
    <img [src]="subasta.mimagenesSubasta[currentIndexImage].url" [class]="'animate__animated ' + imageClassAnimated" alt="Imagen de la subasta" style="height: 100%; display: block; margin: auto; overflow-y: hidden;" />
    <div [class]="'auction-label-container-winner fast-animation animate__animated ' + animatedClass" *ngIf="usuarioMayor">
      {{usuarioMayor}} <span class="winner-span" >Va Ganando!</span>
    </div>
    <div class="top-left-arrow">
      <button class="btn btn-dark" (click)="irAAnterior()"><< Ant</button>
    </div>
    <div class="top-right-arrow">
      <button class="btn btn-dark" (click)="irASiguiente()">Sig >></button>
    </div>
    <div class="auction-actions-vertical" *ngIf="isLoggedIn()">
      <button class="action-btn" alt="Personalizado" (click)="openModal()"><i class="fas fa-handshake"></i></button>
      <button class="action-btn" (click)="toggleSeguir()" [ngClass]="{'marked': isFollowed}" alt="Seguir" ><i class="fas fa-heart"></i>  </button>
      <button class="action-btn" *ngIf="subasta.compraDirecta"><i class="fas fa-cart-arrow-down"></i></button>
      <button class="action-btn"><i class="fas fa-share"></i></button>
    </div>
    <div class="auction-btn-container-bid">
        <button *ngIf="isLoggedIn()" class="btn-bid-xuba auction-main-btn" (click)="realizarApuesta(siguienteApuesta, false)">Ofertar ${{siguienteApuesta}}</button>
        <button *ngIf="!isLoggedIn()" class="btn-bid-xuba auction-main-btn" >Inicie Sesion para Ofertar</button>
    </div>
    <!-- <button class="btn-dark-yellow auction-main-btn">Apostar ahora</button> -->
  </div>
  <aside class="col-lg-2 bg-light" style="overflow-y: hidden;height: calc(100vh - 70px)">
    <div class="auction-info-card mb-3 mt-2 bg-light descripcion-container-aside">
      <div class="d-flex align-items-center mb-2">
        <!-- <img [src]="subasta.sellerAvatar" class="seller-avatar me-2" alt="Vendedor"> -->
        <div>
          <div class="seller-name text-dark">{{ subasta.musuarios.nombre }}</div>
          <div class="seller-rating text-muted small">★ {{ 2 }}</div>
        </div>
      </div>
      <h2 class="auction-title-dark mb-2 text-caption">{{ subasta.caption }}#{{subasta.id}}</h2>
      <div class="auction-desc-dark mb-3">
        {{ subasta.descripcion }}
      </div>
      <!-- <div class="auction-meta-dark mb-3 pt-3 text-center">
        <span [class]="'meta-chip-dark price-chip-dark w-100 bg-light  text-price pt-0 pb-0 fast-animation animate__animated '+ animatedClass">
          <span class="price-lbl"><i class="fas fa-money-bill"></i> Oferta actual</span>
          <br>
          <span class="price-number">$1,{{ valorApuesta }}55,555.00</span>
        </span>
      </div> -->
      <div class="text-price text-center">
        <span class="price-lbl"><i class="fas fa-money-bill"></i> Oferta actual</span>
        <br>
        <span class="price-number">${{ valorApuesta }}</span>
      </div>
     

      <div class="w-100 text-dark text-center pt-5" style="font-size: 1.5rem;">
        <i class="fas fa-clock"></i> {{tiempoVence}}
      </div>
    </div>
    <div class="auction-info-card mt-2 bg-light images-container pb-0">
      <h5 class="text-center">Galeria</h5>
      <!-- <div class="d-flex align-items-center mb-2"> -->
        <img [src]="images.url" (click)="setIndexImage(i)" *ngFor="let images of subasta.mimagenesSubasta; let i = index;" class="w-20 mb-2" [ngClass]="{'active': currentIndexImage === i}" alt="">
        <!-- <img [src]="images.url" *ngFor="let images of subasta.mimagenesSubasta" class="w-100" alt="">
        <img [src]="images.url" *ngFor="let images of subasta.mimagenesSubasta" class="w-100" alt=""> -->
      <!-- </div> -->
    </div>
  </aside>
</div>


<div *ngIf="isModalOpen" class="cart-modal-backdrop" (click)="closeModal()">
  <div class="cart-modal-container" (click)="onContentClick($event)">
    <div class="modal-header bg-main-header text-white">
      <h3 class="modal-title">
        <!-- <i class="fas fa-shopping-cart "></i> -->
        <span class="text-white" >Enviar otra oferta</span>
      
      </h3>
      <button class="close-button" (click)="closeModal()">
        <span class="text-white">&times;</span>
      </button>
    </div>
    
    <!-- Paso 1: Contenido del carrito -->
    <div class="modal-body">

        <!-- <hr> -->
        <div class="tab-content fast-animation  animate__animated animate__fadeInRight">
            <!-- form-producto.component.html -->
            <form class="form-productos pl-2 pr-2">
                <div class="form-row">
                    <div class="form-group">
                      <button class="btn btn-info mb-2" (click)="setApuestaPersonalizada(100)"><i class="fas fa-cash"></i> $100</button>
                      <button class="btn btn-info mb-2" (click)="setApuestaPersonalizada(300)"><i class="fas fa-cash"></i> $300</button>
                      <button class="btn btn-info"(click)="setApuestaPersonalizada(500)"><i class="fas fa-cash"></i> $500</button>
                        <!-- <label for="nombre">Nombre del producto</label> -->
                        <!-- <input type="text" [(ngModel)]="subasta.caption" id="nombre" name="nombre" /> -->
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group">
                        <label for="cantidadPuja">OTRA OFERTA</label>
                        <input type="number" [(ngModel)]="valorSubastaPersonalizada" id="cantidadPuja" name="cantidadPuja" />
                    </div>
                    <!-- <div class="form-group">
                        <label for="tiempoActivo">Tiempo activo (100 hrs Max)</label>
                        <input type="number" [(ngModel)]="subasta.horas" id="tiempoActivo" name="tiempoActivo" />
                    </div> -->
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer text-start pb-3 pe-3">
    
      <!-- Botones para el paso del carrito -->
      <div>
        <button class="btn btn-dark me-2" (click)="closeModal()">
          Cancelar
        </button>
        <button class="btn btn-xuba"  (click)="tryOfertaPersonalizada()">
          <i class="fas fa-check"></i> Ofertar
        </button>
      </div>     
    </div>
    <!-- </div> -->
  </div>
</div>